body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #d2d5ff, rgb(255, 211, 176));
}

.all-diary-page {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}

.all-diary-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.image-responsive {
    max-width: 60%;
    height: auto;
}
