.calendar-page {
    background: linear-gradient(to right, #ffecd2, #ffac91);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: -600px;
    width: 40%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calendar {
    width: 100%;
}

/* 修改 Pikaday 日历的背景颜色 */
.pika-single {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* 设置日历的宽度 */
    height: auto; /* 设置日历的高度 */
}

/* 修改选中日期的背景颜色和字体颜色 */
.pika-single .pika-table .is-selected {
    background: #007bff;
    color: white;
}

/* 修改今天日期的边框颜色 */
.pika-single .pika-table .is-today {
    border: 1px solid #007bff;
}

/* 修改星期标题的背景颜色和字体颜色 */
.pika-single .pika-lendar th {
    background: black;
    color: white;
    padding: 5px;
}

/* 修改日期单元格的样式 */
.pika-single .pika-table td {
    padding: 10px;
    cursor: pointer;
}

.pika-single .pika-table td:hover {
    background: #f0f0f0;
}

.pika-single .pika-title {
    text-align: center; /* 水平居中 */
    padding: 10px 0; /* 添加上下内边距 */
    font-weight: bold; /* 加粗字体 */
    left: 50%;
}

.pika-single .pika-table {
    width: 500px;
    height: 400px;
}

.selected-date {
    font-size: 30px;
    font-weight: bold;
    color: #fff3e9;
    width: 40%;
    height: auto;
    margin-top: 10px;
    position: relative;
    top: -450px;
    left: 450px;
}
.tobutton-container {
    position: absolute;
    bottom: 300px;
    right: 350px;
    display: flex;
    justify-content: center;
}

.todiary-button, .toplan-button {
    font-size: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ffad84;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 10px;
}

.todiary-button:hover {
    background-color: #ffe9c9;
    border-color: #ffeacc;
    transform: translateY(-3px);
}
.toplan-button:hover {
    background-color: #ffe9c9;
    border-color: #ffeacc;
    transform: translateY(-3px);
}