.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #000;
}