body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.updatepsw-page {
    background: linear-gradient(to right, #ebd8ff, #ccdfff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backMain-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffbeb2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.updatepsw-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.updatepsw-form {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.center-text {
    text-align: center;
    width: 100%;
}

.updatepsw-form label {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.updatepsw-form input {
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.updatepsw-form input:focus {
    border-color: #7f84ca;
    box-shadow: 0 0 8px rgba(127, 132, 202, 0.5);
}

.updatepsw-form button {
    padding: 10px;
    margin-top: 20px;
    margin-left: 30%;
    width: 40%;
    border: none;
    border-radius: 30px;
    background-color: rgb(127, 132, 202);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.updatepsw-form button:hover {
    background-color: rgb(95, 100, 172);
    transform: translateY(-3px);
}