.diary-page {
    background-color: #fafafa;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #e5533d;
}

.diary-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 60px;
}

.diary-list, .diary-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
}

.diary-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.diary-list ul {
    list-style-type: none;
    padding: 0;
}

.diary-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.diary-list li:hover {
    background-color: #f0f0f0;
}