.diary-page {
    background: linear-gradient(to right, #d2d5ff, rgb(255, 211, 176));
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.backMain-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #ffa596;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.backMain-button:hover {
    background-color: #e3c8c5;
    transform: translateY(-3px);
}

.diary-selected-date {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #7f84ca;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
}

.diary-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

.diary-list, .diary-creation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
    border: 1px solid #ddd;
}

.diary-list {
    order: 1;
}

.diary-list-content {
    max-height: 450px;
    overflow-y: auto;
}

.diary-creation {
    order: 2;
    width: 50%;
}

.diary-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #ff6347;
    padding-bottom: 10px;
}

.title-input-container {
    display: flex;
    align-items: center;
}

.title-counter {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border: 1px solid black;
}

.diary-content-textarea {
    height: 300px; /* 调整文本框的高度 */
}

.createDiary2-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ffaf9f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
    border: 1px solid #ccc;
}

.createDiary2-button:hover {
    background-color: #df9879;
    transform: translateY(-3px);
}

.createDiary-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ddceff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.createDiary-button:hover {
    background-color: #c8b4e7;
    transform: translateY(-3px);
}

.view-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ffc59e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.view-button:hover {
    background-color: #ffacac;
    transform: translateY(-3px);
}

.diary-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid #ccc;
}

.diary-item:hover {
    background-color: #f9f9f9;
    transform: translateY(-3px);
}

.diary-content-container {
    margin-top: 10px;
    max-height: 480px;
    overflow-y: auto; /* 添加垂直滚动条 */
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; /* 确保子元素的定位 */
}

.diary-content-title {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    z-index: 1; /* 确保在滚动内容上方 */
}

.diary-content {
    white-space: pre-wrap; /* 保留换行符 */
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.image-responsive0 {
    max-width: 60%;
    height: auto;
}
