body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-page {
    background: linear-gradient(to right, #ebd8ff, #ccdfff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBegin-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffbeb2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.center-text {
    text-align: center;
    width: 100%;
}

.login-form label, .register-form label {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input, .register-form input {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-form button, .register-form button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 30%;
    width: 40%;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 191, 131);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover, .register-form button:hover {
    background-color: #e79a4e;
    transform: translateY(-3px);
}

.register-form .back-button {
    position: absolute;
    top: 100px;
    left: -80px;
    width: 60px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #ffbeb2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form .back-button:hover {
    background-color: #c5978f;
}