.main-page-container {
    background: linear-gradient(to right, #dfc1ff, #ffd898);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.main-navbar {
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-navbar-title {
    font-size: 24px;
    color: #333;
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-page {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    margin-top: 100px; /* 为了避免被导航栏遮挡 */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    transform: translateY(-3px);
}

.button-container button:active {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    transform: translateY(0);
}