.centered-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: fit-content;
    border-radius: 1.5rem;
    box-shadow: 0 6px 10px -1px rgba(255, 193, 7, 0.2), 0 4px 8px -2px rgba(255, 193, 7, 0.1);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}
