body {
    background-color: #fafafa;
}
input {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input:focus {
    border-color: #007bff;
    outline: none;
}
textarea {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}