.plan-page {
    background: linear-gradient(to right, #d2d5ff, rgb(255, 211, 176));
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.plan-selected-date {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #7f84ca;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
}

.plan-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

.plan-list, .plan-creation {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
    border: 1px solid #ddd;
}

.plan-list {
    order: 1;
}

.plan-list-content {
    max-height: 450px;
    overflow-y: auto; 
}

.plan-creation {
    order: 2;
    width: 50%;
}

.plan-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #ffcbc1;
    padding-bottom: 10px;
}

.title-input-container, .ddl-input-container {
    display: flex;
    align-items: center;
}

.title-counter, .ddl-counter {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border: 1px solid black;
}

.plan-content-textarea {
    height: 200px; /* 调整文本框的高度 */
}
.emergency-input-container {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.creation-button,  .close-details-button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ff9f6b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.creation-button:hover, .close-details-button:hover {
    background-color: #ffc8bf;
    transform: translateY(-3px);
}
.viewplan-button {
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
    margin-top: 10px;
    background-color: #bab1ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.viewplan-button:hover {
    background-color: #b8c5ff;
    transform: translateY(-3px);
}

.plan-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid #ccc;
}

.plan-item:hover {
    background-color: #f9f9f9;
    transform: translateY(-3px);
}

.plan-content-container {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto; /* 添加垂直滚动条 */
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; /* 确保子元素的定位 */
}

.plan-content-title {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    z-index: 1; /* 确保在滚动内容上方 */
}

.plan-content {
    white-space: pre-wrap; /* 保留换行符 */
}

.error-message {
    color: red;
    margin-bottom: 10px;
}