.plan-page {
    background: linear-gradient(to right, #d2d5ff, rgb(255, 211, 176));
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.plan-selected-date {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #7f84ca;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
}

.plan-creation-container {
    display: block;
    justify-content: right;
    align-items: flex-start;
    width: 80%;
    margin-top: 60px;
}

.plan-list-container {
    display: block;
    margin-top: 100px;
    position: absolute;
    top: 268px;
    left: 100px;
    width: 80%;
}

.plan-list {
    background-color: white;
    position: relative;
    margin-left: 200px;
    margin-top: -270px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    max-height: 400px; /* 固定高度 */
    overflow-y: auto; /* 添加垂直滚动条 */
}

.plan-details {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 45%;
    margin-left: 20px;
}

.plan-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.plan-item:hover {
    background-color: #f9f9f9;
    transform: translateY(-3px);
}

.plan-content {
    white-space: pre-wrap; /* 保留换行符 */
}

.plan-creation {
    background-color: white;
    margin-left: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}
.plan-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.title-input-container {
    display: flex;
    align-items: center;
}

.title-counter {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

.ddl-input-container {
    display: flex;
    align-items: center;
}

.ddl-counter {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
input:focus, textarea:focus {
    border-color: #b29c98;
}
.plan-content-textarea {
    width: 90%;
    height: 200px; /* 调整文本框的高度 */
}
.creation-button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.creation-button:hover {
    background-color: #e5533d;
}
.textarea {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}